@import "globals";
@import "footer";

.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
}

.card {
  height: 696px;
  width: 450px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 15px 20px hsl(245, 75%, 52%, 0.1);
  &_body {
    padding: 48px;
    padding-top: 40px;
    h1 {
      margin: 0;
      font-size: 27px;
      font-weight: 900;
      text-align: center;
      color: hsl(223, 47%, 23%);
    }
    p {
      text-align: center;
      line-height: 1.6;
      color: hsl(224, 23%, 55%);
    }
    .annualPlan {
      display: flex;
      justify-content: space-between;
      height: 98px;
      border-radius: 14px;
      padding: 25px;
      background-color: hsl(225, 100%, 98%);
      &_info {
        display: flex;
        &_price {
          padding-left: 12px;
          .pricePlan {
            margin: 0;
            color: hsl(223, 47%, 23%);
            font-weight: 900;
          }
          .priceNumber {
            margin: 0;
          }
        }
      }
      &_changePlanButton {
        display: inline-block;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: underline;
        font-family: inherit;
        font-weight: 900;
        color: hsl(245, 75%, 52%);
        background: none;
        padding: 0;
        outline: inherit;
        &:hover {
          color: hsl(245, 72%, 65%);
        }
      }
    }
    .proceedButton {
      display: block;
      margin: 34px;
      margin-left: 0;
      width: 100%;
      height: 49px;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      background-color: hsl(245, 75%, 52%);
      color: white;
      text-align: center;
      text-decoration: none;
      font-family: inherit;
      font-weight: 700;
      letter-spacing: 1px;
      outline: inherit;
      padding: 0;
      box-shadow: 0 10px 20px hsl(245, 75%, 52%, 0.3);
      &:hover {
        background-color: hsl(245, 72%, 65%);
      }
    }
    .cancelButton {
      display: inline-block;
      border: none;
      cursor: pointer;
      text-align: center;
      font-family: inherit;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.3px;
      background: none;
      color: hsl(224, 23%, 55%);
      text-decoration: none;
      outline: inherit;
      padding: 0;
      &:hover {
        color: hsl(223, 47%, 23%);
        font-weight: 900;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card {
    height: 567px;
    width: 327px;
    border-radius: 22px;

    &_image {
      img {
        height: 160px;
      }
    }
    &_body {
      padding: 24px;
      padding-top: 26px;
      h1 {
        font-size: 22px;
        font-weight: 900;
      }
      p {
        line-height: 1.8;
        font-size: 15px;
        letter-spacing: 0.5px;
        margin-bottom: 24px;
      }
      .annualPlan {
        height: 81px;
        border-radius: 14px;
        padding: 15px;

        .pricePlan {
          font-size: 14px;
          letter-spacing: -0.2px;
        }
        .priceNumber {
          font-size: 14px;
        }
      }
      .proceedButton {
        margin-top: 24px;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
  }
}
///////zoom 92 - mobile
//////zoom 78 desktop
